/*                  SECTIONS */
nav {
    border: none;
    position: fixed;
    background-color: rosybrown;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 99;
}

nav.active {
    transform: translateX(0px);
}

nav ul {
    padding: 2rem 0;
    list-style-type: none;
    margin: 0;


}

nav ul li {
    padding: 1rem 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: var(--text);

}

#hamburguer {
    border: none;
    background-color: transparent;

    color: rosybrown;

    font-size: 4rem;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0rem 1rem;
    z-index: 99;
    transition: transform 0.3s ease-in-out;
}

#hamburguer.active {
    transform: translateX(-200px);
}

















/*                  SECTION 1 */


.wrapper-1 {
    background-color: rgb(78, 78, 78);
}


.header-img {
    /* flex: 0 0 30%; */
    width: 100%;
    height: 100%;
    align-self: center;

}


.hero {
    /* flex: 0 0 30%; */
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: left;
    color: var(--clr-gray200);
    align-self: center;

}

#header {
    font-size: var(--header1);
    font-weight: 400;
    line-height: 110%;
    margin-left: -5%;
    max-width: 11ch;
    /* font-size: 4rem; */
}

#sub-header {

    font-size: var(--header4);
    font-weight: 200;
    padding-top: 3%;
    margin-left: 20%;
    max-width: 30ch;

    /* margin-left: 6rem; */
    /* margin-bottom: -2.8rem;
    font-size: 1rem; */
}




















/*                  SECTION 2 */


.wrapper__2 {
    display: flex;
    height: calc(auto + 1vh);
    background-color: rgb(56, 56, 56);
    color: rgb(82, 82, 82);
    justify-content: space-around;
    align-items: left;

}

#split-2 {


    display: flex;
    justify-content: space-evenly;
    gap: 6rem;
}

article {
    flex: 1 1 100%;
    max-width: 50rem;
    margin: 0rem 10rem 0rem 0;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: left;
    align-items: left;

}

article>* {
    padding-right: 5%;
}




article img {
    /* width: 100%; */
    max-width: 100%;

}


#date {
    color: rgb(255, 136, 89);

    background-color: rgb(29, 29, 29, 0.5);
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
}

#article-title {
    color: rgb(255, 136, 89);


    background-color: rgb(29, 29, 29, 0.5);

    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 0;


}















/*                  SECTION 3 */

.wrapper__3 {
    /* padding: 0 3% 0 0; */

    text-align: right;
    color: white;
    background-color: black;
    position: relative;


}

#split-3 {
    display: flex;
    flex: 1 1 100%;

    justify-content: flex-end;
    align-items: flex-end;
}

.left-3 {
    position: absolute;
    overflow: hidden;
    left: 30%;
    right: 30%;
    top: 0;
    bottom: 0;
}

.left-3 img {
    height: 100%;
}

.img-text {
    position: absolute;
    left: 25%;
    text-align: left;
}

.right-3 {

    max-width: 10%;
    z-index: 99;


}



.mb-img {
    width: 100%;
}


















/*                  SECTION 4 */

.wrapper__4 {
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);

    background-color: rgb(204, 204, 204);

}

.wrapper__4 img {
    max-height: 100vh;
    width: 100%;
}

.wrapper__4 img:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 0 / 1;
}

.wrapper__4 img:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    align-self: center;
}


}
















/*                  SECTION 5 */

.wrapper__5 {
    display: flex;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: rgb(235, 182, 122);
    justify-content: space-between;


    align-items: left;
    padding: 10% 0 10% 15%;
}














/*              FOOTER */

footer {
    background-color: black;
    color: white;
    justify-content: space-around;


}

footer h2 {
    max-width: 15ch;
    text-decoration: underline;
}

footer h2 span {

    text-decoration: none;
}

#social__media {
    padding-right: 10%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

#social__media>* {
    margin-top: 3rem;
}